doctype html
html
	head
		title Poro CV
		link(rel='stylesheet', href='stylesheets/style.css')
		link(rel='stylesheet', href='stylesheets/css/kickstart.css')
		script(src='/javascripts/jquery.js')
		script(src='/javascripts/kickstart.js')
		script(src='/javascripts/filehandling.js')
	body
		#wrap
			.logo-container.center
				img(src="images/logo.png", alt="Poro CV")
			.row
				.col_3
				.col_6.center
					h1 About
					a(href="https://github.com/TylerSandman/poro-cv", style={color: "black"})
						i.icon-github.icon-4x				
					p
						| Poro CV uses 
						a(href="http://opencv.org/") Open CV 
						| along with a 
						a(href="http://docs.opencv.org/doc/user_guide/ug_traincascade.html") trained cascade classifier 
						| to recognize 
						a(href="http://leagueoflegends.wikia.com/wiki/Poro") Poros 
						| in images! Since there are no official Javascript bindings for OpenCV, I used 
						a(href="https://github.com/peterbraden/node-opencv") this 
						| Node.js binding. Keep in mind the classifier isn't perfect but generally works very well.
				.col_3
			.row
				.col_3
				.col_6.center
					h1 Try it Out
					input#input1(type="file", style={display: "none"})
					.uploader-container.center
						#uploader
							img#uploaded-img(src="images/examples/positive1.jpg")
					h4 Example Images
					.gallery
						-var n = 1
						while n <= 6	
							img(src="images/examples/positive" + n++ + ".jpg", width="100px", height="100px", draggable="true")
						- n = 1
						while n <=4
							img(src="images/examples/negative" + n++ + ".jpg", width="100px", height="100px", draggable="true")
				.col_3
			.row
				.col_12.center						
					#footer
						p.
							Developed and maintained by Tyler Sanderson