doctype html
html
	head
		title Poro CV
		link(rel='stylesheet', href='stylesheets/style.css')
		link(rel='stylesheet', href='stylesheets/css/kickstart.css')
		script(src='/javascripts/jquery.js')
		script(src='/javascripts/kickstart.js')
	body
		#wrap
			.logo-container.center
				img(src="images/logo.png", alt="Poro CV")
